<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <title>Ticket Cancellation Confirmation</title>
    <style>
        html,
        body {
            background-color: #f3f3f3;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
        }
        .card {
        background-color: #fefefe;
        max-width: 500px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .center {
        display: block;
        margin: 10px auto;
    }

    .title {
        text-align: center;
        color: #333;
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .content {
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;
    }

    .container {
        display: flex;
        border: 1px solid #ddd;
        margin-top: 20px;
    }



    @media (max-width: 768px) {
        .card {
            max-width: 90%;
        }

        .center {
            width: 80px;
            height: 80px;
        }
    }
</style>
</head>
<body>
    <div class="card">
        <img src="https://raw.githubusercontent.com/balajisadhasivam/Mira/main/Mira2.png" alt="" width="100px" height="100px" class="center">
        <h1 class="title">Mira</h1>
        <h1>Hi <b>{{name}}</b>,</h1>
        <p class="content">We understand that receiving news of a cancelled ticket can be disappointing. We sincerely apologize for any inconvenience this may have caused.</p>
        <p class="content">Your booked ticket for <b>{{title}}</b> on <b>{{date}}</b> has been cancelled. We will process your refund within <b>2</b> business days, and the refunded amount will be credited to your original payment method.</p>
        <p class="content">Thank you for your understanding and continued support. We hope to serve you better in the future.</p>
    </div>
</body>
</html>